.carFrame {
  position: relative;
  height: 20rem;
  width: 20rem;
  margin: 0 3rem 3rem 0;
  border-radius: 31px;
  background: #e8e8e8;
  box-shadow: inset 8px 8px 16px #c5c5c5, inset -8px -8px 16px #ffffff;
}

.overlay {
  height: 20rem;
  width: 20rem;
  background-color: black;
  border-radius: 31px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s;
}

.imgWrapper,
.descriptionWrapper {
  position: absolute;
  height: 20rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carImg {
  position: absolute;
  object-fit: contain;
  width: 18rem;
  height: 18rem;
  transition: transform 0.3s;
}

.description {
  position: absolute;
  text-align: center;
  color: #f3f3f3;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.5;
}

.bolderDescription {
  font-size: 3rem;
  font-weight: 600;
}

.show {
  opacity: 1;
  transition: opacity 0.6s 0.15s;
}

.hide {
  opacity: 0;
  transition: opacity 0.6s;
}

.carFrame:hover .overlay {
  opacity: 0.35;
}

.carFrame:hover .carImg {
  transform: scale(1.1);
}

.icon,
.scaledDown {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #f3f3f3;
}

.icon {
  transform: scale(1);
  transition: transform 0.25s 0.25s;
}

.scaledDown {
  transform: scale(0);
  transition: transform 0.25s;
}

@media screen and (max-width: 1200px) {
  .carImg {
    width: 13rem;
    height: 13rem;
  }

  .carFrame {
    margin: 0 2rem 2rem 0;
  }

  .carFrame,
  .descriptionWrapper,
  .imgWrapper,
  .overlay {
    height: 15rem;
    width: 15rem;
  }

  .description {
    font-size: 1.8rem;
  }

  .bolderDescription {
    font-size: 2.3rem;
  }

  .icon,
  .scaledDown {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .carImg {
    width: 70%;
    height: 70%;
  }

  .carFrame {
    margin: 0 0 2rem 0;
  }

  .carFrame,
  .descriptionWrapper,
  .imgWrapper,
  .overlay {
    width: 70vw;
    height: 70vw;
  }

  .description {
    font-size: 2.8rem;
  }

  .bolderDescription {
    font-size: 3.3rem;
  }

  .icon,
  .scaledDown {
    width: 3.8rem;
    height: 3.8rem;
  }
}

@media screen and (max-width: 350px) {
  .description {
    font-size: 2.2rem;
  }

  .bolderDescription {
    font-size: 2.7rem;
  }

  .icon,
  .scaledDown {
    width: 2.5rem;
    height: 2.5rem;
  }
}
