#root {
  height: 100%;
}
.main {
  height: inherit;
  display: flex;
  flex-direction: row;
  gap: 12rem;
}

@media screen and (max-width: 1200px) {
  .main {
    gap: 7rem;
  }
}

@media screen and (max-width: 800px) {
  .main {
    gap: 5rem;
  }
}

@media screen and (max-width: 650px) {
  .main {
    gap: 3.5rem;
  }
}

@media screen and (max-width: 600px) {
  .main {
    gap: 3rem;
    align-items: center;
    flex-direction: column;
  }
}
